//====================================================================================================
.home {
	// .home__slider

	&__slider {
	}

	// .home__slide

	&__slide {
		position: relative;
		transition: all 0.3s ease 0s;
		height: calc(100vh - 116px);
		@media (max-width: $mobile) {
			height: calc(100vh - 90px);
		}
		min-height: rem(560);
		z-index: 1;
		&.swiper-slide:not(.swiper-slide-visible) {
			visibility: hidden;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: linear-gradient(0deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
			height: 30%;
			z-index: 2;
			pointer-events: none;
			@media (max-width: $mobile) {
				height: 10%;
			}
		}
	}

	// .home__background

	&__background {
		height: 100%;
		width: 100%;
		pointer-events: none;
		border-radius: 60px 60px 0px 0px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			background: transparent;
			object-fit: cover;
		}
	}

	// .home__container

	&__container {
		position: absolute;
		// height: 100%;
		padding-bottom: 9%;
		bottom: 0;
		left: 0;
		z-index: 1;
		cursor: default;
		width: 100%;
		@media (max-width: $mobile) {
			padding-bottom: rem(45);
		}
	}

	// .home__row

	&__row {
		max-width: 100%;
		width: rem(686);
	}

	// .home__title

	&__title {
		margin-bottom: rem(40);
	}

	// .home__info

	&__info {
		margin-bottom: rem(40);
		opacity: 0.79;
		font-size: rem(16);
		line-height: math.div(24, 16);
	}
}

.pagination {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 rem(math.div($containerPadding, 2)) 9%;

	@media (max-width: em(1799.98)) {
		padding: 0 rem(50) 9%;
	}
	@media (max-width: em(1449.98)) {
		padding: 0 rem(25) 9%;
	}

	@media (max-width: $mobile) {
		padding-top: rem(15);
		top: 0;
		display: flex;

		@media (max-width: $mobile) {
			padding-top: rem(78);
		}
		bottom: auto;
	}

	z-index: 2;

	&__item {
		font-size: 14px;
		line-height: 150%;
		text-align: right;
		opacity: 0.6;
		text-transform: uppercase;
		transition: opacity, padding 0.5s ease 0s;
		@media (max-width: $mobile) {
			font-size: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			&::before {
				content: "";
				width: 5px;
				height: 5px;
				background: #fff;
				border-radius: 50%;
			}
		}
		&:hover {
			@media (min-width: $mobile) {
				padding-right: 5px;
			}
		}
		&.swiper-pagination-bullet-active {
			opacity: 1;

			font-weight: 700;
		}
		&:not(:last-child) {
			@media (min-width: $mobile) {
				margin-bottom: rem(15);
			}
			@media (max-width: $mobile) {
				margin-right: rem(15);
			}
		}
		cursor: pointer;
	}
}

//====================================================================================================

.cards {
	padding: rem(52) 0px;
	// .cards__container

	&__container {
	}

	// .cards__title

	&__title {
		margin-bottom: rem(53);
	}

	// .cards__row

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
		gap: rem(30);
		@media (max-width: $mobile) {
			gap: rem(30) rem(15);
		}
	}

	// .cards__article

	&__article {
		display: flex;
		flex-direction: column;
	}

	// .cards__image

	&__image {
		width: 100%;
		img {
			background: var(--dark);
			width: 100%;
			height: 100%;
		}
	}

	// .cards__content

	&__content {
		flex: 1 1 auto;
		color: var(--black);
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: rem(25) rem(23) rem(30);
		> *:not(:last-child) {
			margin-bottom: rem(20);
			@media (max-width: $mobile) {
				margin-bottom: rem(10);
			}
		}
	}

	// .cards__name

	&__name {
		font-family: "Mulish";
		text-transform: uppercase;
		font-weight: 700;
		font-size: rem(14);
		line-height: math.div(26, 14);
		letter-spacing: 1.5px;
	}

	// .cards__info

	&__info {
		color: var(--black);
		font-size: rem(16);
		line-height: math.div(26, 14);
	}

	// .cards__about

	&__about {
		color: #666666;
		flex: 1 1 auto;

		line-height: math.div(24, 14);
	}

	// .cards__data

	&__data {
		font-size: rem(12);
		color: #666666;
		strong {
			font-weight: 700;
		}
	}

	// .cards__btn

	&__btn {
		margin-top: 5px;
	}
	&__loadmore {
		margin: rem(60) 0 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.btn-dark {
	// .btn-black__link
	color: #fff;
	font-weight: 600;
	font-size: rem(14);
	line-height: math.div(18, 14);
	font-family: "Mulish";
	.btn__link {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--black);
		padding: rem(16) rem(70);
		position: relative;
		z-index: 0;
		&:hover {
			&::after {
				content: "";
				width: 100%;
				right: 0;
				left: auto;
			}
		}
		&::after {
			content: "";
			height: 100%;
			width: rem(0);
			background: rgb(43, 43, 43);
			position: absolute;
			top: 0;
			transition: all 0.3s ease 0s;
			left: 0;
			z-index: -1;
		}
	}
}
